body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #ffffff !important;
  font-size: 100% !important;
  color: #333333 !important; }

nav {
  height: 15vh; }
  nav svg {
    width: 200px;
    height: 80px;
    margin-left: 15rem;
    fill: #ffffff; }
  nav .navbar-nav {
    margin: 4rem 0 0 20rem; }
  nav .navbar-nav > li > a {
    color: white;
    font-size: 1.8rem; }
  nav .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #ff6600;
    font-weight: 300; }
  nav .glyphicon {
    font-size: 3rem;
    top: -0.5rem; }

section#corusel {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh; }
  section#corusel h1 {
    position: relative;
    top: -10rem;
    left: -15rem;
    font-size: 7rem;
    text-align: left;
    padding: 0 32% 0 0;
    font-weight: 600; }
  section#corusel p {
    position: relative;
    top: -10rem;
    left: -15rem;
    font-size: 2.5rem;
    text-align: left;
    padding: 0 40% 0 0; }
  section#corusel button.downscroll {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 85%;
    left: 50%;
    margin-left: -2.5rem;
    background: url(../img/iconscroll.svg) 60% 20% no-repeat;
    background-size: 30px;
    border: none; }
    section#corusel button.downscroll .downscroll2 {
      position: relative;
      width: 10rem;
      height: 7rem;
      background: url(../img/iconscroll.svg) 50% 0 no-repeat;
      background-size: 60px; }
  section#corusel a {
    color: #ffffff;
    font-size: 1.7rem;
    display: inline-block;
    position: relative;
    left: -52rem;
    top: -5rem;
    border: 1px solid #ffffff;
    padding: 1% 7% 1% 7%;
    text-decoration: none;
    -webkit-transition: color background-color linear 0.5s;
    -moz-transition: color background-color linear 0.5s;
    -o-transition: color background-color linear 0.5s;
    transition: color background-color linear 0.5s; }
  section#corusel a:hover {
    color: #000;
    background-color: #ffffff;
    font-weight: 300; }
  section#corusel #carousel-example-generic {
    height: 100vh; }
    section#corusel #carousel-example-generic img {
      height: 100vh;
      width: 100%; }
  section#corusel .carousel-indicators {
    left: 20rem; }
    section#corusel .carousel-indicators li {
      width: 15px;
      height: 15px;
      background-color: #888888;
      -webkit-transition: background-color ease-out 0.5s;
      -moz-transition: background-color ease-out 0.5s;
      -o-transition: background-color ease-out 0.5s;
      transition: background-color ease-out 0.5s;
      border: none; }
    section#corusel .carousel-indicators li:hover {
      background-color: #ffffff;
      width: 15px;
      height: 15px; }
    section#corusel .carousel-indicators li.active {
      background-color: white;
      width: 18px;
      height: 18px; }

section#whatwedo {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding: 5% 10% 0 10%; }
  section#whatwedo .row {
    margin-left: 0.0em;
    margin-right: 0.0em; }
  section#whatwedo h2 {
    text-align: center;
    font-size: 3rem;
    padding: 0 25% 0 25%; }
  section#whatwedo h2:after {
    content: " ";
    display: block;
    width: 200px;
    height: 40px;
    background: url(../img/arrowcenter.png) no-repeat;
    background-size: cover;
    margin: 0 auto; }
  section#whatwedo h3 {
    text-align: center;
    font-size: 1.7rem;
    padding: 0 25% 0 25%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #66798c;
    font-family: "Merriweather", serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 5rem; }
  section#whatwedo .wraperrng-box {
    width: 33.3333%;
    height: 55vh;
    cursor: pointer; }
    section#whatwedo .wraperrng-box h3 {
      font-family: unset;
      text-transform: uppercase;
      color: #66798c;
      font-size: 3rem; }
    section#whatwedo .wraperrng-box p {
      font-size: 1.5rem;
      text-align: center;
      color: #66798c;
      line-height: 2.5rem;
      padding: 5% 0 5% 0; }
  section#whatwedo .orange-box {
    display: block;
    position: relative;
    width: 150px;
    height: 170px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center; }
    section#whatwedo .orange-box svg {
      width: 100px;
      height: 150px; }
      section#whatwedo .orange-box svg path {
        fill: #ff6600;
        stroke: #ff6600; }
  section#whatwedo .blue-box {
    display: block;
    position: relative;
    width: 150px;
    height: 170px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center; }
    section#whatwedo .blue-box svg {
      width: 120px;
      height: 150px; }
      section#whatwedo .blue-box svg path {
        stroke: #33cccc;
        fill: #33cccc; }
  section#whatwedo .green-box {
    display: block;
    position: relative;
    width: 150px;
    height: 170px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center; }
    section#whatwedo .green-box svg {
      width: 120px;
      height: 150px; }
      section#whatwedo .green-box svg path {
        stroke: #99cc33;
        fill: #99cc33; }
  section#whatwedo .wraperrng-box:hover h3, section#whatwedo .wraperrng-box:hover p {
    color: #ffffff; }

section#customer {
  display: block;
  position: relative;
  padding: 0 10% 0 10%;
  text-align: center; }
  section#customer a {
    font-size: 1.8rem;
    border: 1px solid #ff6600;
    color: #ff6600;
    background-color: #ffffff;
    padding: 1% 5% 1% 5%;
    text-decoration: none;
    -webkit-transition: background-color color 1s linear;
    -moz-transition: background-color color 5s linear;
    -o-transition: background-color color 5s linear;
    transition: background-color color 5s linear; }
  section#customer a:hover {
    color: #ffffff;
    background-color: #ff6600; }
  section#customer .row {
    margin-left: 0.0em;
    margin-right: 0.0em; }
  section#customer h2 {
    text-align: center;
    font-size: 3rem;
    margin: 10% 0 5% 0; }
  section#customer h2:after {
    content: " ";
    display: block;
    width: 200px;
    height: 40px;
    background: url(../img/arrowcenter.png) no-repeat;
    background-size: cover;
    margin: 0 auto; }
  section#customer .col-md-4 {
    text-align: center; }
    section#customer .col-md-4 img {
      margin: 10% 0 10% 0;
      width: 250px;
      height: auto; }
  section#customer p {
    margin: 5% 0 5% 0; }

section#galery {
  display: block;
  position: relative;
  background-color: #ffffff; }
  section#galery .row {
    margin-left: 0.0em;
    margin-right: 0.0em; }
    section#galery .row .col-md-6:first-child, section#galery .row .col-md-3:last-child {
      padding: 0; }
    section#galery .row .text-block {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: transparent;
      z-index: 99;
      top: 0;
      text-align: center;
      -webkit-transition: background-color 0.5s linear;
      -moz-transition: background-color 0.5s linear;
      -o-transition: background-color 0.5s linear;
      transition: background-color 0.5s linear;
      cursor: pointer; }
      section#galery .row .text-block h3 {
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        display: block;
        margin-top: 20%;
        opacity: 0;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear; }
      section#galery .row .text-block p {
        font-size: 1.5rem;
        color: #ffffff;
        margin-top: 30%;
        opacity: 0;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear; }
    section#galery .row .text-block:hover {
      background-color: rgba(255, 102, 0, 0.8); }
      section#galery .row .text-block:hover h3 {
        margin-top: 35%;
        opacity: 100; }
      section#galery .row .text-block:hover p {
        margin-top: 0;
        opacity: 100; }
    section#galery .row .econom {
      display: block;
      width: 100%;
      height: 80vh;
      background: url(../img/econom.jpg);
      background-size: cover;
      padding-top: 40%; }
    section#galery .row .insta {
      display: block;
      width: 100%;
      height: 40vh;
      background: url(../img/insta.jpg);
      background-size: cover;
      padding-top: 40%; }
    section#galery .row .stellar {
      display: block;
      width: 100%;
      height: 40vh;
      background: url(../img/stellar.jpg);
      background-size: cover;
      padding-top: 40%; }
    section#galery .row .bmc {
      display: block;
      width: 100%;
      height: 40vh;
      background: url(../img/bmc.jpg);
      background-size: cover;
      padding-top: 40%; }
    section#galery .row .custom {
      display: block;
      width: 100%;
      height: 40vh;
      background: url(../img/cust.jpg);
      background-size: cover;
      padding-top: 40%; }
    section#galery .row .qualc {
      display: block;
      width: 100%;
      height: 40vh;
      background: url(../img/qualc.jpg);
      background-size: cover;
      padding-top: 40%; }
    section#galery .row .foteen {
      display: block;
      width: 100%;
      height: 40vh;
      background: url(../img/stellar.jpg);
      background-size: cover;
      padding-top: 40%; }
  section#galery .throw {
    margin-top: 0.8%; }
    section#galery .throw .col-md-3:first-child {
      padding: 0; }
    section#galery .throw .col-md-3:nth-child(2) {
      padding-right: 0; }

section#news {
  display: block;
  position: relative;
  top: 1.5em;
  background-color: #eeeeee;
  padding: 10% 10% 10% 10%;
  text-align: center; }
  section#news h2 {
    margin-bottom: 10%; }
  section#news .row {
    margin-left: 0.0em;
    margin-right: 0.0em; }
  section#news .row:last-child {
    margin-top: 1.5em; }
  section#news .blogs {
    display: block;
    width: 100%;
    height: 35vh;
    background-color: #ffffff;
    padding: 5% 3% 15% 3%;
    text-align: left;
    overflow: hidden;
    cursor: pointer; }
    section#news .blogs h4 {
      text-transform: uppercase;
      color: #dfc01b;
      font-weight: 700;
      font-size: 1.6rem; }
    section#news .blogs p {
      font-size: 1.5rem; }
    section#news .blogs p:after {
      content: " [...]"; }
  section#news .blogs:hover {
    background-color: #333333;
    color: #ffffff; }
  section#news .event {
    display: block;
    width: 100%;
    height: 45vh;
    background-color: #ffffff;
    padding: 5% 3% 15% 3%;
    text-align: left;
    overflow: hidden;
    cursor: pointer; }
    section#news .event h4 {
      text-transform: uppercase;
      color: #33cccc;
      font-weight: 700;
      font-size: 1.6rem; }
    section#news .event p {
      font-size: 1.5rem; }
    section#news .event p:after {
      content: " [...]"; }
  section#news .event:hover {
    background-color: #333333;
    color: #ffffff; }

section#joinus {
  display: block;
  position: relative;
  width: 100%;
  height: 45vh;
  background: url(../img/bgjoinus.jpg);
  color: #ffffff;
  text-align: center;
  padding-top: 5%; }
  section#joinus h2 {
    margin-bottom: 3%; }
  section#joinus p {
    font-size: 2rem;
    margin-bottom: 3%; }
  section#joinus a {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 1% 5% 1% 5%;
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 600; }
  section#joinus a:hover {
    background-color: #ffffff;
    color: #ff6600; }

section#sots {
  display: block;
  position: relative;
  padding: 0 8% 0 8%;
  background-color: #333333; }
  section#sots .row {
    margin-left: 0.0em;
    margin-right: 0.0em; }
  section#sots img {
    width: 200px;
    height: 80px; }
  section#sots a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 90%;
    border: 1px solid #ffffff;
    margin: 4% 0 0 5%; }
  section#sots a.in {
    background: transparent url(../img/icons.svg) no-repeat;
    background-position: 0.0rem -0.2rem;
    background-size: 13rem;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  section#sots a.in:hover {
    background-position: 0.0rem -3rem;
    background-color: #33cccc;
    border: none; }
  section#sots a.tw {
    background: transparent url(../img/icons.svg) no-repeat;
    background-position: -3.2rem -0.2rem;
    background-size: 13rem;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  section#sots a.tw:hover {
    background-position: -3.2rem -3rem;
    background-color: #33cccc;
    border: none; }
  section#sots a.face {
    background: transparent url(../img/icons.svg) no-repeat;
    background-position: -6.5rem -0.2rem;
    background-size: 13rem;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  section#sots a.face:hover {
    background-position: -6.5rem -3rem;
    background-color: #33cccc;
    border: none; }
  section#sots a.mail {
    background: transparent url(../img/icons.svg) no-repeat;
    background-position: -9.7rem -0.2rem;
    background-size: 13rem;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  section#sots a.mail:hover {
    background-position: -9.7rem -3rem; }

section#copyrite {
  position: relative;
  display: block;
  height: 7vh;
  width: 100%;
  padding: 1% 10% 0 10%;
  text-align: left;
  background-color: #2b2b2b; }
  section#copyrite p {
    color: #999;
    font-size: 1.3rem; }
  section#copyrite a {
    color: #999;
    text-decoration: none;
    margin-left: 2%; }
  section#copyrite a:hover {
    color: #ff6600; }

/*# sourceMappingURL=style.css.map */
